<div class="start position-relative mt-2">
    <div class="d-flex justify-content-center"><img src="images/logoLifePet.png" style="width:400px" /></div>
    
    <div class="banner">
        <div class="product">
            <div class="soda"> </div>
        </div>
        <div class="rock">
            <img src="/images/rock1.png" />
            <img src="/images/rock2.png" />
            <img src="/images/rock3.png" />
        </div>
    </div>
</div>
<h4 class="text-center ColorText mt-3 ">I nostri Marchi</h4>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <div class="col-md-3">
                    <img src="/images/carousel1.webp" class="d-block w-100" alt="Logo 1">
                </div>
                <div class="col-md-3">
                    <img src="/images/carousel2.webp" class="d-block w-100" alt="Logo 2">
                </div>
                <div class="col-md-3">
                    <img src="/images/carousel3.webp" class="d-block w-100" alt="Logo 3">
                </div>
                <div class="col-md-3">
                    <img src="/images/carousel4.webp" class="d-block w-100" alt="Logo 4">
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-md-3">
                    <img src="/images/carousel5.webp" class="d-block w-100" alt="Logo 5">
                </div>
                <div class="col-md-3">
                    <img src="/images/carousel1.webp" class="d-block w-100" alt="Logo 6">
                </div>
                <div class="col-md-3">
                    <img src="/images/carousel2.webp" class="d-block w-100" alt="Logo 7">
                </div>
                <div class="col-md-3">
                    <img src="/images/carousel3.webp" class="d-block w-100" alt="Logo 8">
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-md-3">
                    <img src="/images/carousel4.webp" class="d-block w-100" alt="Logo 9">
                </div>
                <div class="col-md-3">
                    <img src="/images/carousel5.webp" class="d-block w-100" alt="Logo 10">
                </div>
                <div class="col-md-3">
                    <img src="/images/carousel1.webp" class="d-block w-100" alt="Logo 11">
                </div>
                <div class="col-md-3">
                    <img src="/images/carousel2.webp" class="d-block w-100" alt="Logo 12">
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="mt-5">
    <h3 class="text-center ColorText">Trova il rimedio piu' adatto per te</h3>
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-3 text-center">
                <img src="/images/img1.png" alt="dolori" class="img-fluid" />
                <p class="ColorText">Colesterolo</p>
            </div>
            <div class="col-md-3 text-center">
                <img src="/images/img2.png" alt="dolori" class="img-fluid" />
                <p class="ColorText">Cistite</p>
            </div>
            <div class="col-md-3 text-center">
                <img src="/images/img3.png" alt="dolori" class="img-fluid" />
                <p class="ColorText">Mal di testa</p>
            </div>
            <div class="col-md-3 text-center">
                <img src="/images/img4.png" alt="dolori" class="img-fluid" />
                <p class="ColorText">Prurito intimo</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center">
                <img src="/images/img5.png" alt="dolori" class="img-fluid" />
                <p class="ColorText">Acne</p>
            </div>
            <div class="col-md-3 text-center">
                <img src="/images/img6.png" alt="dolori" class="img-fluid" />
                <p class="ColorText">Dolori mestruali</p>
            </div>
            <div class="col-md-3 text-center">
                <img src="/images/img7.png" alt="dolori" class="img-fluid" />
                <p class="ColorText">Mal di denti</p>
            </div>
            <div class="col-md-3 text-center">
                <img src="/images/img8.png" alt="dolori" class="img-fluid" />
                <p class="ColorText">Mal di stomaco</p>
            </div>
        </div>
    </div>
</div>
<div class="row mx-2">
    <div class="col-md-10 p-0">
        <img src="/images/prova2.png" class="w-100" />
    </div>
    <div class="col-md-2 d-flex align-items-center p-0">
        <video src="/video/nelloNike.mp4" class="w-100 h-100" style="border: none; object-fit: cover;" muted autoplay loop></video>
    </div>
</div>

