

<div class="table">
    <section class="table_header">
        <h1 class="text-center">Ricerca per Microchip</h1>
    </section>
    <section class="table_body d-flex align-items-center justify-content-center">
        <div class="w-100">
            <div class="d-flex align-items-center justify-content-center mb-4">
                <input type="text" class="form-control me-2 w-25" id="microchipNumber" name="microchipNumber" placeholder="Inserisci numero microchip" />
                <i class="fa-solid fa-magnifying-glass fs-5"></i>
            </div>
            <div id="searchResults" class="mt-4"></div>
        </div>
    </section>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#microchipNumber').on('input', function () {
                var microchipNumber = $(this).val();
                if (microchipNumber.length >= 1) {
                    $.ajax({
                        url: '@Url.Action("Search", "Animal")',
                        type: 'GET',
                        data: { microchipNumber: microchipNumber },
                        success: function (data) {
                            $('#searchResults').html(data);
                        }
                    });
                } else {
                    $('#searchResults').empty();
                }
            });
        });
    </script>
}