@{
    ViewData["Title"] = "Search Owners";
}

<div class="table">
    <section class="table_header">
        <h1 class="text-center">Cerca Proprietari</h1>
    </section>
    <section class="table_body d-flex align-items-center justify-content-center">
        <div class="w-100">
            <div class="d-flex align-items-center justify-content-center mb-4">
                <input type="text" class="form-control me-2 w-25" id="fiscalCode" name="fiscalCode" placeholder="Inserisci codice fiscale" />
                <i class="fa-solid fa-magnifying-glass fs-5"></i>
            </div>
            <div id="searchResults" class="mt-4"></div>
        </div>
    </section>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#fiscalCode').on('input', function () {
                var fiscalCode = $(this).val();
                if (fiscalCode.length >= 1) { 
                    $.ajax({
                        url: '@Url.Action("Search", "Owner")',
                        type: 'GET',
                        data: { fiscalCode: fiscalCode },
                        success: function (data) {
                            $('#searchResults').html(data);
                        }
                    });
                } else {
                    $('#searchResults').empty();
                }
            });
        });
    </script>
}
