@model BW_VI___Team_1.Models.DTO.LockerDTO

@{
    ViewData["Title"] = "AddLocker";
}
<div class="addPage">

<h1>Aggiungi Armadietto</h1>

<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="AddLocker">
                @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Number" class="control-label">Numero</label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
             <div class="d-flex justify-content-around mt-3">
               <div class="form-group">
                        <input type="submit" value="Create" class="btn addButtonCreate" />
            </div>
                <div>
                    <a asp-action="Index" class="btn addButtonBack">Torna Indietro</a>
                </div>
        </div>
        </form>
    </div>
</div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
